body{
    background-color: lightslategray;
    /*Este es un comentario*/
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

h1{
    color:aliceblue;
}

h1, h2{
    text-align: center;
}

p{
    color: white;
    /*Aquí controlamos el tamaño de la letra*/
    font-size: 15 px;

}

div h2{
    color: azure;
}